.button {
	padding: 15px 40px;
	background-color: #005ecb ;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: #114177;;
	}
}
